html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  background-color: var(--main-bg-color, lightgray);
  color: whitesmoke;
  font-family: Segoe WPC, Segoe UI, sans-serif;
  padding: 10px;
  box-sizing: border-box;
}

#button-wrapper {
  width: 100%;
  padding: 10px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

#args-box {
  border: 3px groove;
  border-color: var(--main-light-color, whitesmoke);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}

.arg-wrapper {
  box-sizing: border-box;
  padding: 16px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.arg-wrapper .arg-text {
  width: 30%;
  text-overflow: ellipsis;
  text-align: center;
}

.arg-wrapper button.arg-input {
  background-color: white;
  text-align: left;
}
.arg-wrapper .arg-input {
  flex-grow: 1;
  transition: background 300ms;
}

.arg-wrapper .arg-input.warning {
  background-color: rgb(255, 100, 100);
}