.context-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.context-menu {
  background-color: white;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px -4px;
  position: fixed;
  border: 1px solid #e0e0e0;
  font-family: 'Segoe WPC', 'Segoe UI', sans-serif;
  font-size: 12px;
  user-select: none;
}
.context-menu ul.item-list{
  list-style-type: none;
  padding: 3px 0px;
  margin: 0px;
}
.context-menu li.item {display: flex;}
.context-menu a.item-content {flex-grow: 1; padding: 5px 20px;}
.context-menu a.item-content.active:hover {background-color: #e0e0e0;}
.context-menu a.item-content.inactive {color: darkgray;}
.context-menu a.item-content.separator {
  padding: 0;
  margin: 5px 10px;
  border-bottom: 1px solid darkgray;
}
