.file-tree {
  color: var(--main-font-color, whitesmoke);
  font-size: 14px;
  overflow-x: hidden;
}

.file-tree .folder-contents{
  display: flex;
  flex-direction: column;
  padding-left: 6px;
  margin-left: 10px;
  border-left: 1px solid;
  border-left-color: gray;
  text-overflow: ellipsis;
}

/*parent nodes on the tree*/
.collapsible>.folder    >.node-icon::before {content: var(--tree-folder-open, "\1F5C1");}
.collapsed  >.folder    >.node-icon::before {content: var(--tree-folder-closed, "\1F5C0");}
.collapsible>.folder.pkg>.node-icon::before {content: var(--tree-pkg-open, "\25EB");}
.collapsed  >.folder.pkg>.node-icon::before {content: var(--tree-pkg-closed, "\25F0");}
.folder.empty>.node-icon::before {content: var(--tree-folder-empty, "\1F5CB");}
/*leaf nodes in the tree*/
.file-tree .leaf  >.node-icon::before {content: var(--tree-leaf, "\25FB");}
.file-tree .ready >.node-icon::before {content: var(--tree-leaf-ready, "\25FC");}
.file-tree .broken>.node-icon::before {content: var(--tree-leaf-broken, "\2715");}


.file-tree .folder, .file-tree .leaf {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1px 0px 1px 4px;
}

.file-tree .node-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 4px;
}

/*alllows for folders on tree to be collapsed, displaying none of the children*/
.file-tree .collapsed>.folder-contents {display: none;}

.file-tree .warning {
  outline: 1px solid brown;
  outline-offset: 0px;
}

.file-tree div.warning {
  font-size: 12px;
  padding: 4px;
  box-sizing: border-box;
  position: absolute;
  background-color: rgb(126, 24, 24);
}


/*
  white space: "\00a0"
  white circle: "\25CB"
  black circle: "\25CF"
  closed folder: "\1F5C0"
  opened folder: "\1F5C1"
  empty document : "\1F5CB"
*/