/*Styles for the chart container and its elements*/
.graphK {
  position: relative;
  overflow: hidden;
  background-color: var(--main-bg-color, black);
  user-select: none;
  font-family: 'Segoe WPC', 'Segoe UI', sans-serif;
  height: 100%;
}
.graphK *::-webkit-scrollbar {width: 8px;}
.graphK *::-webkit-scrollbar-thumb {background-color: #555;}
.graphK *::-webkit-scrollbar-thumb:hover {background-color: #888;}

.graphK .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.graphK .wrapper {
  display: flex;
  flex-grow: 1;
  height: 0;
  width: 100%;
}

.graphK .highlight {background-color: var(--highlight-color, transparent);}
.graphK .inactive {pointer-events: none;}
.graphK .overlay {opacity: 0.3;}

.graphK .toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--toolbar-color, lightgray);
  width: 100%;
  height: 28px;
}
.graphK .toolbar>.gpk {
  display: flex;
  width: 26px;
  align-items: center;
  justify-content: center;
  margin: 0px 3px;
}
.graphK .toolbar>.gpk.pressed {
  pointer-events: all;
  outline-width: 4px;
  outline-offset: -2px;
  outline-style: groove;
  outline-color: rgb(100,100,100);
  background-color: rgb(50, 50, 50);
}
.graphK .toolbar>.gpk.pressed.highlight {
  outline-color: rgb(120,120,120);
  background-color: rgb(70, 70, 70);
}

/*** chart-control ***/
.graphK .chart-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--main-medium-color, lightgray);
  box-sizing: border-box;
  width: 20%;
  height: 100%;
}
.graphK .chart-control .wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
.chart-control .rename {
  box-sizing: border-box;
  border: none;
  flex-grow: 1;
  width: 0px;
  background-color: gray;
  color: whitesmoke;
  font-family: var(--main-font-family, Segoe WPC, Segoe UI, sans-serif);
  font-size: inherit;
  padding: 0px;
  margin-left: 4px;
  margin-right: 2px;
}

.panel {
  display: flex; flex-direction: column;
  flex-grow: 1; height: 0; transition: flex-grow 500ms;
}
.panel.collapsed {flex-grow: initial; height: initial;}

.panel-bar {
  display: flex;
  background-color: #6f6f6f;
  color: var(--main-font-color, whitesmoke);
  font-size: 14px;
  font-weight: 100;
  font-family: var(--main-font-family, Segoe WPC,Segoe UI,sans-serif);
}
.panel>*>.panel-bar-indicator {
  padding-right: 6px;
  padding-left: 4px;
  transform: rotate(90deg);
}
.panel>*>.panel-bar-indicator::before {content: '\276F'}
.panel.collapsed>*>.panel-bar-indicator {transform: none}
.panel-body {
  flex-grow: 1; height: 0;
  overflow-y: auto; overflow-x: hidden;
}
/*
.panel-body::-webkit-scrollbar {width: 8px;}
.panel-body::-webkit-scrollbar-thumb {background-color: #555;}
.panel-body::-webkit-scrollbar-thumb:hover {background-color: #888;}
*/
.routine-panel {
  box-sizing: border-box;
  height: 100%;
  padding: 4px 0px 4px 10px;
  font-size: 14px;
  color: var(--main-font-color, whitesmoke);
}
.routine-panel .node-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 4px;
}
.routine-head, .routine-step {display: flex;}
.routine-box          >.routine-head::before {content: "\25CE";}
.routine-box.collapsed>.routine-head::before {content: "\25C9";}
.routine-box.collapsed>.routine-sequence {display: none;}
.routine-sequence {
  margin-left: 5px;
  border-left: 1px solid gray;
  padding-left: 10px;
}
.routine-step.empty::before, .routine-step.empty>* {opacity: 0.5;}
.routine-step.empty>* {opacity: 0.4;}
.routine-step::before {content: "\2937";}
.routine-button {
  display: none;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 5px;
}
.highlight .routine-button {display: unset;}
.routine-exec::before {content: "\25B7";}
.routine-exec:hover::before {content: "\25B6";}
.routine-cfg::before {content: "\2630"; opacity: 0.6;}
.routine-cfg:hover::before {opacity: 1;}
.routine-transforms {
  box-sizing: border-box;
  padding: 4px;
  background-color: var(--main-bg-color, lightgray);
  width: 100%; height: 100%;
  overflow: auto;
}


/*** chart-area ***/
.graphK .chart-area {
  flex-grow: 1; /*stretchs to take the rest of the width on the container*/
  background-color: var(--main-dark-color, lightgray);
  box-sizing: border-box;
  padding: 4px;
  height: 100%;
  overflow-y: auto;
}
/******************/

/*** chart-body ***/
.graphK .chart-body {
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
}

.graphK .height-resizer{
  cursor: s-resize;
  height: 10px;
  width: 100%;
  margin: -5px 0px;
  transform: translateY(0px);
}

.graphK .width-resizer{
  cursor: e-resize;
  width: 8px;
  height: 100%;
  margin-right: -8px;
  transform: translateX(0px);
}

.graphK           .brush>.overlay {cursor: auto;}
.graphK .inactive .brush>.overlay {pointer-events: none;}
.graphK.drag      .brush>.overlay {pointer-events: none;}
.brush>.selection {shape-rendering: auto;}
.brush>.warning {
  fill: red;
  stroke: crimson;
}

/**** modes of operation ****/
.graphK      .toolbar {--highlight-color: dimgray;}
.graphK.drag .toolbar {--highlight-color: darkgreen;}

.graphK        .chart-area {--highlight-color: transparent;}
.graphK.delete .chart-area {--highlight-color: crimson;}
.graphK.drag   .chart-area {--highlight-color: darkgreen;}

.graphK        .chart-control {--highlight-color: rgb(70, 70, 70);}
.graphK.delete .chart-control {--highlight-color: crimson;}
.graphK.select .chart-control {--highlight-color: darkcyan;}
.graphK.drag   .chart-control {--highlight-color: darkgreen;}
/****************************/

/*Transform Selector*/
.graphK .transform-selector {
  box-sizing: border-box;
  padding: 4px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color, lightgray);
  width: 100%; height: 100%;
}

.transform-selector .checkbox {
  display: flex; box-sizing: border-box;
  align-items: center; justify-content: center;
  background-color: whitesmoke;
  width: 10px; height: 10px;
  border-radius: 2px;
  margin-right: 5px;
}
.transform-selector .checkbox:hover {background-color: rgb(200,200, 200);}
.transform-selector .checkbox.checked::before {
  content: ""; height: 0; width: 0;
  border: 2px solid rgb(70,70,70);
}

.transform-selector>.tree-wrapper { 
  flex-grow: 1;
  overflow: auto;
  border: 1px solid gray;
}
.transform-selector>.button-wrapper {
  display: flex;
  margin-top: 4px;
}
.transform-selector button {
  margin: 2px;
  margin-left: 4px;
  background-color: whitesmoke;
  border: 1px inset white;
  font-family: var(--main-font-family, Monospace);
  font-size: small;
}
.transform-selector button:hover{background-color: lightgray;}
