/*Styles for the chart container and its elements*/
.graphK {
  position: relative;
  overflow: hidden;
  background-color: var(--main-bg-color, black);
  color: var(--main-font-color, whitesmoke);
  user-select: none;
  font-family: 'Segoe WPC', 'Segoe UI', sans-serif;
  height: 100%;
}
.graphK .bold {font-weight: bold;}
.graphK .bolder {font-weight: bolder;}
.graphK *::-webkit-scrollbar {width: 8px;}
.graphK *::-webkit-scrollbar-thumb {background-color: #555;}
.graphK *::-webkit-scrollbar-thumb:hover {background-color: #888;}

.graphK .container {
  background-color: var(--main-bg-color, lightgray);
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  height: 100%; width: 100%;
}
.graphK .wrapper {
  display: flex;
  flex-grow: 1;
  height: 0;
  width: 100%;
}

.graphK .highlight {background-color: var(--highlight-color, transparent);}
.graphK .selected {background-color: var(--select-color, transparent);}
.graphK .inactive {pointer-events: none;}
.graphK .overlay {opacity: 0.3;}

.graphK .toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--toolbar-color, lightgray);
  width: 100%;
  height: 28px;
}
.graphK .toolbar>.gpk {
  display: flex;
  width: 26px;
  align-items: center;
  justify-content: center;
  margin: 0px 3px;
}
.graphK .toolbar>.gpk.pressed {
  pointer-events: all;
  outline-width: 4px;
  outline-offset: -3px;
  outline-style: groove;
  outline-color: rgb(100,100,100);
  background-color: rgb(50, 50, 50);
}
.graphK .toolbar>.gpk.pressed.highlight {
  outline-color: rgb(120,120,120);
  background-color: rgb(70, 70, 70);
}

/*** chart-control ***/
.graphK .chart-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--main-medium-color, lightgray);
  box-sizing: border-box;
  width: 20%;
  height: 100%;
}
.graphK .chart-control .wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
.chart-control .rename {
  box-sizing: border-box;
  border: none;
  flex-grow: 1;
  width: 0px;
  background-color: gray;
  color: whitesmoke;
  font-family: var(--main-font-family, Segoe WPC, Segoe UI, sans-serif);
  font-size: inherit;
  padding: 0px;
  margin-left: 4px;
  margin-right: 2px;
}


/*** chart-space ***/
.graphK .chart-space {
  flex-grow: 1; /*stretchs to take the rest of the width on the container*/
  background-color: var(--main-dark-color, lightgray);
  box-sizing: border-box;
  padding: 4px;
  height: 100%;
  overflow-y: auto;
}
/******************/

/*** chart-body ***/
.graphK .chart-body {
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
}

.graphK .height-resizer{
  cursor: s-resize;
  height: 10px;
  width: 100%;
  margin: -5px 0px;
  transform: translateY(0px);
}

.graphK .width-resizer{
  cursor: e-resize;
  width: 8px;
  height: 100%;
  margin-right: -8px;
  transform: translateX(0px);
}

.graphK           .brush>.overlay {cursor: auto;}
.graphK .inactive .brush>.overlay {pointer-events: none;}
.graphK.drag      .brush>.overlay {pointer-events: none;}
.brush>.selection {shape-rendering: auto;}
.brush>.warning {
  fill: red;
  stroke: crimson;
}

/**** modes of operation ****/
.graphK        {--highlight-color: rgb(70, 70, 70);}
.graphK.delete {--highlight-color: crimson;}
.graphK.select {--highlight-color: darkcyan;}
.graphK.drag   {--highlight-color: darkgreen;}
/****************************/

.graphK .button-wrapper>button {
  margin: 0px 4px;
  background-color: whitesmoke;
  border: 1px outset lightgray;
  font-family: var(--main-font-family, Monospace);
  font-size: small;
}
.graphK .button-wrapper>button:hover {border-style: inset;}

/*Transform Selector*/
.graphK .transform-selector {
  box-sizing: border-box;
  padding: 4px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color, lightgray);
  width: 100%; height: 100%;
}

.transform-selector .checkbox {
  display: flex; box-sizing: border-box;
  align-items: center; justify-content: center;
  background-color: whitesmoke;
  min-width: 10px; height: 10px;
  border-radius: 2px;
  margin-right: 5px;
}
.transform-selector .checkbox:hover {background-color: rgb(200,200, 200);}
.transform-selector .checkbox.checked::before {
  content: ""; height: 0; width: 0;
  border: 2px solid rgb(70,70,70);
}

.transform-selector>.tree-wrapper { 
  flex-grow: 1;
  overflow: auto;
  border: 1px solid gray;
  padding-left: 6px;
}
.transform-selector>.button-wrapper {
  display: flex;
  margin-top: 6px;
  margin-bottom: 2px;
  align-self: flex-end;
}

/*Arguments Selector*/
.graphK .args-selector {
  background-color: var(--main-bg-color, lightgray);
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  padding: 10px;
  height: 100%; width: 100%;
}

.graphK .args-selector>.args-box {
  border: 3px groove;
  border-color: var(--main-light-color, whitesmoke);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: scroll;
}

.graphK .args-selector>.button-wrapper {
  padding-top: 10px; align-self: flex-end;
}

.arg-wrapper {
  box-sizing: border-box;
  padding: 16px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.arg-wrapper .arg-text {
  width: 30%;
  text-overflow: ellipsis;
  text-align: center;
}

.arg-wrapper button.arg-input {
  background-color: white;
  text-align: left;
}
.arg-wrapper .arg-input {
  flex-grow: 1;
  transition: background 300ms;
}

.arg-wrapper .arg-input.warning {
  background-color: rgb(255, 100, 100);
}
