/*Styles for the chart container and its elements*/
.graphK {
  color: var(--font-color);
  font-family: var(--font-family);
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  user-select: none;
  padding: 2px;
  width: 100%; height: 100%;
}
.graphK .bold {font-weight: bold;}
.graphK .bolder {font-weight: bolder;}
.graphK *::-webkit-scrollbar {width: 8px;}
.graphK *::-webkit-scrollbar-thumb {background-color: var(--scroll-color);}
.graphK *::-webkit-scrollbar-thumb:hover {background-color: var(--scroll-hover-color);}
.graphK .highlight {background-color: var(--highlight-color, transparent);}
.graphK .selected {background-color: var(--select-color, transparent);}

.graphK           .brush>.overlay {cursor: auto;}
.graphK .inactive .brush>.overlay {pointer-events: none;}
.graphK.drag      .brush>.overlay {pointer-events: none;}
.brush>.selection {shape-rendering: auto;}
.brush>.warning {
  fill: red;
  stroke: crimson;
}

.row-container {display: flex; flex-direction: row;}
.column-container {display: flex; flex-direction: column;}

/**** modes of operation ****/
.graphK        {--highlight-color: var(--highlight-normal);}
.graphK.delete {--highlight-color: var(--highlight-delete);}
.graphK.select {--highlight-color: var(--highlight-select);}
.graphK.drag   {--highlight-color: var(--highlight-drag);}
/****************************/

.graphK .button-wrapper {
  display: flex;
  overflow: hidden;
  background-color: var(--panel-frame-color);
  min-height: fit-content;
}
.graphK .button-wrapper>button {
  font-size: small;
  padding: 4px 8px;
  background-color: transparent;
  color: inherit;
  border: none;
  min-width: fit-content;
}
.graphK .button-wrapper>button:hover {background-color: rgba(255, 255, 255, 0.05);}
.graphK .button-wrapper>button:focus {outline: none;}

/*Transform Selector*/
.transform-selector {
  display: flex; flex-direction: column;
  width: 100%; height: 100%;
}
.transform-selector .nav-tree .leaf-node::before,
.transform-selector .nav-tree .folder-node::before {
  content: '';
  min-width: 0.3em; min-height: 0.3em;
  border: medium solid whitesmoke;
  background-color: whitesmoke;
  border-radius: 0.5em;
  margin-right: 0.5em;
}
.transform-selector .nav-tree .leaf-node.checked::before,
.transform-selector .nav-tree .folder-node.checked::before {
  background-color: black;
}
.transform-selector .nav-tree .folder {--icon-uncollapsed:"\1F5C1"; --icon-collapsed  :"\1F5C0";}
.transform-selector .nav-tree .folder.pkg {--icon-uncollapsed:"\25EB"; --icon-collapsed  :"\25F0";}
.transform-selector .nav-tree .leaf-node>.node-icon::before {display: none;}
.transform-selector>.tree-wrapper { 
  border-color: var(--window-frame-color);
  border-width: 2px;
  border-style: groove;
  flex-grow: 1;
  overflow: auto;
}

/*Arguments Selector*/
.graphK .args-selector {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  height: 100%; width: 100%;
}
.graphK .args-selector>.args-box {
  border-color: var(--window-frame-color);
  border-width: 2px; border-style: groove;
  display: flex; flex-direction: column;
  flex-grow: 1;
  margin: 6px;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: scroll;
}
.arg-wrapper {
  box-sizing: border-box;
  padding: 1em; padding-left: 0;
  display: flex; flex-direction: row;
  width: 100%;
}
.arg-wrapper .arg-text {
  width: 30%;
  text-overflow: ellipsis;
  text-align: center;
}

.arg-wrapper button.arg-input {
  background-color: white;
  text-align: left;
}
.arg-wrapper .arg-input {
  flex-grow: 1;
  transition: background-color 300ms;
}
.arg-wrapper .arg-input.warning {
  background-color: rgb(255, 100, 100);
}
label.arg-input {display: flex;}
label.arg-input > input[type="checkbox"] {display: none;}
label.arg-input > input[type="checkbox"] + span.checkbox {
  color: black; width: 100%; text-align: center;
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 0.3em;
}
label.arg-input > input[type="checkbox"]:checked + span.checkbox {opacity: 1;}
label.arg-input > input[type="checkbox"]:checked + span.checkbox:after {content: 'X';}

